OWNER_NAME="Bryant Tech"
PREFIX="."
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "ITACHI-MD"
IMAGE_MENU= "https://telegra.ph/file/f6e29c9472ffd5c4280c2.jpg"
NUMERO_OWNER= "233538230444"
OWNER_NAME= "᚛Bryant tech᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
